name: CI

env:
  DO_NOT_TRACK: 1

on:
  push:
    branches: 
      - main
      - release/*
      - next
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
 
  changesets:
    name: Check for changesets
    if: ${{ github.event_name == 'pull_request' && !startsWith(github.event.pull_request.head.ref, 'changeset-release') }}
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v4

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Check for changesets
        run: |
          git fetch origin main:main
          pnpm exec changeset status --since=origin/main


  build:
    name: Build and Test
    timeout-minutes: 15
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      issues: write
    strategy:
      matrix:
        node: [18, 20, 22, 24]

    steps:
      - name: Check out code
        uses: actions/checkout@v6
        with:
          fetch-depth: 2

      - uses: pnpm/action-setup@v4

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Transpile, typecheck, Lint and test
        run: pnpm check

      # catches some of the examples that don't have transpile/typecheck tasks
      - name: Build
        run: pnpm build

      - name: Verify nothing changed
        run: git diff --exit-code

      - name: Verify nothing added
        run: u="$(git ls-files --others --exclude-standard)" && test -z "$u"

